:root {
  --color: #212121;
  --hover-color: #2196f3;
}

body {
  font-size: 2rem;
  font-family: 'Raleway', 'Roboto', sans-serif;
  color: var(--color);
  font-weight: 400;
}

.logo-text-black {
  font-family: 'Raleway', 'Roboto', sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  text-decoration: none;
}

.logo-text-white {
  font-family: 'Raleway', 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  text-decoration: none;
}

.logo-text-blue {
  color: var(--hover-color);
}

.list-menu {
  padding: 0 24px;
}

.navigation {
  text-decoration: none;
  font-size: 1.4rem;
}

.navigation:hover {
  color: var(--hover-color);
}

.navigation:focus {
  color: var(--hover-color);
}

.navigation:active {
  color: var(--hover-color);
}

.navigation: {
  color: var(--hover-color);
}

.kontakt {
  text-decoration: none;
  color: #757575;
  font-size: 1.4rem;
}

.banner-background {
  background-color: #2f303a;
  text-align: center;
  width: 1000px;
  height: 200px;
  padding: 200px;
  color: #ffffff;
}

.button {
  background-color: #f5f4fa;
  border: none;
  margin: 8px 4px;
  color: var(--color);
  width: 150px;
  height: 50px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.button-list {
  list-style: none;
  display: inline-flex;
}

.button:hover {
  color: var(--hover-color);
}

.button:focus {
  color: var(--hover-color);
}

.img-portfolio {
  width: 370px;
  height: 294px;
  margin: 15px 15px 15px 15px;
}

.portfolio {
  list-style: none;
  display: inline-flex;
}

.project-info {
  color: #212121;
  font-family: 'Roboto';
  font-size: 18px;
}
.kategory {
  font-size: 16px;
  font-family: 'Roboto';
  color: #757575;
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 10px 30px 150px;
}
